In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [0]:
data = pd.read_csv('/content/drive/My Drive/datasets/precily/Text_Similarity_Dataset.csv')
print(df.shape)
data.head()

(4029, 2)

   Unique_ID  ...                                              text2
0          0  ...  newcastle 2-1 bolton kieron dyer smashed home ...
1          1  ...  nasdaq planning $100m share sale the owner of ...
2          2  ...  ruddock backs yapp s credentials wales coach m...
3          3  ...  mci shares climb on takeover bid shares in us ...
4          4  ...  media gadgets get moving pocket-sized devices ...

[5 rows x 3 columns]

In [0]:
import tensorflow_hub as hub
import tensorflow as tf
tf.logging.set_verbosity(tf.logging.ERROR)
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder-large/4")
#embed = hub.Module("https://tfhub.dev/google/universal-sentence-encoder/2")

In [0]:
def embed_texts(texts):
    tf.logging.set_verbosity(tf.logging.ERROR)

    with tf.Session() as session:
        session.run([tf.global_variables_initializer(), tf.tables_initializer()])
        embeddings = session.run(embed(texts))

    return np.array(embeddings).tolist()

In [0]:
text1 = np.array(data['text1'])
text2 = np.array(data['text2'])

In [0]:
for i in range(len(data)):
  print(i)
  st1 =[]
  st1.append(text1[i])
  embeddings1 = embed_texts(st1)
  st2 =[]
  st2.append(text2[i])
  embeddings2 = embed_texts(st2)
  simi = cosine_similarity(embeddings1['outputs'],embeddings2['outputs'])
  f= open("similarity.txt","a+")
  f.write(str(data.loc[i]['Unique_ID'])+','+str(simi[0][0]) + '\n')

In [0]:
df = pd.read_csv('/content/similarity.txt')
print(df.shape)
df.head()

(4029, 2)

   Unique_ID  Similarity_Score
0          0          0.427770
1          1          0.247513
2          2          0.474606
3          3          0.348897
4          4          0.622352